@model WebMidterm.Models.Movie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["TitleForm"] = "Create Movie";
    ViewData["SubNavbar"] = "movie";
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Languege" class="control-label"></label>
                        <input asp-for="Languege" class="form-control" />
                        <span asp-validation-for="Languege" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MovieType" class="control-label"></label>
                        <select asp-for="MovieType" asp-items="Html.GetEnumSelectList<MovieType>()" class="form-control">
                            <option style="display:none;">Select Movie Type</option>
                        </select>
                        <span asp-validation-for="MovieType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Budget" class="control-label"></label>
                        <input asp-for="Budget" class="form-control" />
                        <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Released" class="control-label"></label>
                        <input asp-for="Released" class="form-control" />
                        <span asp-validation-for="Released" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Production" class="control-label"></label>
                        <input asp-for="Production" class="form-control" />
                        <span asp-validation-for="Production" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AgeLimited" class="control-label"></label>
                        <input asp-for="AgeLimited" class="form-control" />
                        <span asp-validation-for="AgeLimited" class="text-danger"></span>
                    </div>
                </div>
            </div>
           
           
            <div class="d-flex justify-content-start">
                <input type="submit" value="Create" class="btn btn-primary" />
                <div>
                    <a asp-action="Index" class="btn btn-outline-info bi bi-arrow-right-square"></a>
                </div>
            </div>
        </form>
    </div>
</div>



