@model WebMidterm.Models.Movie

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Languege" class="control-label"></label>
                        <input asp-for="Languege" class="form-control" />
                        <span asp-validation-for="Languege" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MovieType" class="control-label"></label>
                        <select asp-for="MovieType" asp-items="Html.GetEnumSelectList<MovieType>()" class="form-control"></select>
                        <span asp-validation-for="MovieType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Budget" class="control-label"></label>
                        <input asp-for="Budget" class="form-control" />
                        <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div> 
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Released" class="control-label"></label>
                        <input asp-for="Released" class="form-control" />
                        <span asp-validation-for="Released" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Production" class="control-label"></label>
                        <input asp-for="Production" class="form-control" />
                        <span asp-validation-for="Production" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AgeLimited" class="control-label"></label>
                        <input asp-for="AgeLimited" class="form-control" />
                        <span asp-validation-for="AgeLimited" class="text-danger"></span>
                    </div>
                </div>
            </div>
  
           
            <div class="mt-3 d-flex justify-content-between">
                <input type="submit" value="Save" class="btn btn-outline-primary" />

                <div>
                    <a asp-action="Index" class="btn btn-outline-info bi bi-arrow-right-square"></a>
                </div>

            </div>
        </form>
    </div>
</div>

